/* Pēc klases
.note{
    color: blue;
    font-size: 10px;
}

 Pēc ID
#pirmaisHeading{
    font-style: italic;
}

 Pēc elementa nosaukuma
h3 {
    color: blueviolet; 
    background-color: black;
}

/* p {
    border-style: dotted;
} */

.full{
   /* border: 10px solid #fff; */
    padding: 100px;
    /* border-style: groove; */
    display: grid;
    grid-template-columns: 30% 70%;
}

.left{
    background-color: #03c6fc;
    border-style: solid;
    padding: 50px;
       
}

.right{
    background-color: #f4fa7d;
    border-style: solid;
    padding: 50px;
        
}

#vecums{
    width: 50px;
    height: 50px;
}

