/* Pēc klases
.note{
    color: blue;
    font-size: 10px;
}

 Pēc ID
#pirmaisHeading{
    font-style: italic;
}

 Pēc elementa nosaukuma
h3 {
    color: blueviolet; 
    background-color: black;
}

/* p {
    border-style: dotted;
} */

.full{
   /* border: 10px solid #fff; */
    padding: 100px;
    /* border-style: groove; */
    display: grid;
    grid-template-columns: 30% 70%;
}

.left{
    background-color: #03c6fc;
    border-style: solid;
    padding: 50px;
       
}

.right{
    background-color: #f4fa7d;
    border-style: solid;
    padding: 50px;
        
}

#msg{
    width: 170px;
    height: 17px;
}

h2 {
    text-decoration: underline;
    font-family: serif;

}
p{
    font-style: italic
}

img{
border: 4px solid black
}

h3 {
    text-decoration: underline;
    font-family: cursive;
}

h4 {
text-decoration:underline;
text-decoration-style: dotted;
font-family: Georgia, serif;
}
